[user]
	email = m.martineau@hotmail.co.uk
	name = Matt Martineau

[alias]
	lg = !git --no-pager log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -s
  co = checkout
  br = branch
  dc = diff --cached

[color]
	ui = true

